.total {
    &__icon {
        width: 40px;
        height: 40px;
        margin-right: 5px;
    }

    &__title {
        font-size: 26px;
        margin-right: 10px;
    }

    &__group {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__item {
        &--confirmed {
            color: $header-bg;
        }

        &--deaths {
            color: #e74c3c;
        }

        &--recovered {
            color: #27ae60;
        }

        &--active {
            color: #7f8c8d;
        }
        font-size: 28px;
    }
}

@media (min-width: 1024px) {
    .total {
        &__title {
            font-size: 28px;
        }

        &__item {
            font-size: 32px;
        }

        .container {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}
